<a href="https://colab.research.google.com/github/cyg-Chen/EBAC_Semester2_AirBnbDataAnalysis/blob/main/Airbnb_project_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


- Ordinal Regression: 
- NN (CNN): 
  - numerical, ordinal, categorical (must convert to num)
  - normalised, one hot encoding, integer encoding
- Decision Tree: 
  - categorical, ordinal, numerical
  - no normalisation, potentially group categories into bigger cate, or group numerical values into bins

In [2]:
pip install mord

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mord
  Downloading mord-0.6.tar.gz (4.7 kB)
Building wheels for collected packages: mord
  Building wheel for mord (setup.py) ... done
  Created wheel for mord: filename=mord-0.6-py3-none-any.whl size=6006 sha256=19f10a7dd1a85d4e824eed9cb0603c3088ed17c35059d22b5a6d367ad3bcc09c
  Stored in directory: /root/.cache/pip/wheels/80/1d/8a/bef1a01b6a3c91494905d161d5426c181819f9730a773141eb
Successfully built mord
Installing collected packages: mord
Successfully installed mord-0.6

In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn import metrics
from sklearn.linear_model import LogisticRegression, LinearRegression
from mord import LogisticIT, LogisticAT

In [4]:
df1 = pd.read_csv('drive/MyDrive/listings.csv')
df2 = pd.read_csv('drive/MyDrive/reviews.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (68) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df = pd.merge(df1, df2, 
         how = 'outer', left_on='id', right_on='listing_id')

In [20]:
df.head(5)

,id_x,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,ppt_Shared room in townhouse,ppt_Shared room in vacation home,ppt_Tent,ppt_Tiny home,ppt_Tower,room_Entire home/apt,room_Hotel room,room_Private room,room_Shared room,is_bathrooms_shared
0,2539,https://www.airbnb.com/rooms/2539,20220907064715,2022-09-07,city scrape,Clean & quiet apt home by the park,Renovated apt home in elevator building.<br />...,Close to Prospect Park and Historic Ditmas Park,https://a0.muscache.com/pictures/3949d073-a02e...,2787,...,0,0,0,0,0,0,0,1,0,1
1,2539,https://www.airbnb.com/rooms/2539,20220907064715,2022-09-07,city scrape,Clean & quiet apt home by the park,Renovated apt home in elevator building.<br />...,Close to Prospect Park and Historic Ditmas Park,https://a0.muscache.com/pictures/3949d073-a02e...,2787,...,0,0,0,0,0,0,0,1,0,1
2,2539,https://www.airbnb.com/rooms/2539,20220907064715,2022-09-07,city scrape,Clean & quiet apt home by the park,Renovated apt home in elevator building.<br />...,Close to Prospect Park and Historic Ditmas Park,https://a0.muscache.com/pictures/3949d073-a02e...,2787,...,0,0,0,0,0,0,0,1,0,1
3,2539,https://www.airbnb.com/rooms/2539,20220907064715,2022-09-07,city scrape,Clean & quiet apt home by the park,Renovated apt home in elevator building.<br />...,Close to Prospect Park and Historic Ditmas Park,https://a0.muscache.com/pictures/3949d073-a02e...,2787,...,0,0,0,0,0,0,0,1,0,1
4,2539,https://www.airbnb.com/rooms/2539,20220907064715,2022-09-07,city scrape,Clean & quiet apt home by the park,Renovated apt home in elevator building.<br />...,Close to Prospect Park and Historic Ditmas Park,https://a0.muscache.com/pictures/3949d073-a02e...,2787,...,0,0,0,0,0,0,0,1,0,1

integer encoding for ordinal columns:
- host_response_time
-

In [7]:
df['host_response_time'].unique()

array(['within an hour', 'within a day', nan, 'within a few hours',
       'a few days or more'], dtype=object)

In [9]:
def prepare(df,listnum,listcat):
     df_ready = df[listnum]
     for c in listcat:
      df_ready = pd.concat([df_ready, pd.get_dummies(df[c],    
                          drop_first=True, prefix=c)],axis=1)
     return df_ready

In [10]:
#encode ordinal columns
host_response_time_mapper = {"within an hour":1, "within a few hours":2, "within a day":3, "a few days or more":4}
df["host_response_time"] = df["host_response_time"].replace(host_response_time_mapper)

In [11]:
df["host_response_time"]

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
1072815    2.0
1072816    2.0
1072817    2.0
1072818    2.0
1072819    2.0
Name: host_response_time, Length: 1072820, dtype: float64

In [12]:
#add numerical columns and encoded ornical
listnum = ['evaluation', 'host_response_time', 'host_response_rate', 'host_response_time', ]
#add categorical columns for encoding
listcat = ['host_location', 'host_is_superhost', 'doors',
           'persons', 'lug_boot', 'safety']
#id	scrape_id	host_id	host_listings_count	host_total_listings_count	latitude	longitude	accommodates	bathrooms	bedrooms	...	review_scores_checkin	review_scores_communication	review_scores_location	review_scores_value	calculated_host_listings_count	calculated_host_listings_count_entire_homes	calculated_host_listings_count_private_rooms	calculated_host_listings_count_shared_rooms	reviews_per_month	listing_id

In [ ]:
df_final = prepare(df, listnum, listcat)

One hot encoding
- (host_location (TODO: text clean up)
- host_is_superhost (binary)
- (host_neighbourhood
- host_verifications (1 to multiple col)
- host_has_profile_pic
- host_identity_verified
- neighbourhood_cleansed
- neighbourhood_group_cleansed
- property_type
- room_type
- amenities (1 to multiple col)

In [13]:
df["host_is_superhost"].value_counts()
#obj_df = obj_df.fillna({"num_doors": "four"})

f    607673
t    464586
Name: host_is_superhost, dtype: int64

In [16]:
df = pd.get_dummies(df, 
               columns=["host_is_superhost", "host_has_profile_pic", "host_identity_verified", "neighbourhood_cleansed", 
                        "neighbourhood_group_cleansed", "property_type", "room_type"], 
               prefix=["superhost", "profilepic", "verified", "neibhour", "group", "ppt", "room"]).head()

Text contains
- bathrooms_text --> shared/private/N

In [18]:
df["bathrooms_text"].value_counts()

1 shared bath    5
Name: bathrooms_text, dtype: int64

In [19]:
df["is_bathrooms_shared"] = np.where(df["bathrooms_text"].str.contains("shared"), 1, 0)

Others
- host_since -> duration

Normalisation
- host_listings_count
- host_total_listings_count
- price

In [28]:
df = df[["host_listings_count", "host_total_listings_count", "price"]].dropna()

In [29]:
cols_to_norm = ["host_listings_count", "host_total_listings_count", "price"]
df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

TypeError: ignored